
.card h3 {
    color: #f40707;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 200;
    /* margin-top: 280px; */
    margin-top: 355px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}

.card h3 img {
    margin-left: 20px;
}

;
.card>p {
    color: rgb(243, 243, 243);
    font-family: 'Raleway', sans-serif;
    font-size: 70%;
    font-weight: normal;
    /* margin-top: 315px; */
    margin-top: 346px;
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    z-index: 9999;
}

.card .poison {
    background: #d008089c;
    color: rgb(255, 255, 255);
    /* margin-top: 140px; */
    /* margin-top: 153px; */
    margin-top: 71px;
    padding: 5px;
}

.card .edable {
    background: #11f20977;
    color: rgb(255, 255, 255);
    /* margin-top: 140px; */
    /* margin-top: 153px; */
    margin-top: 71px;
    padding: 5px;
}

.card {
    background-color: #3b3b3b;
    bottom: 0;
    box-shadow: 0px 0px 40px 4px rgba(77, 77, 240, 0.315);
    /* height: 440px; */
    /* margin-top: 20px; */
    left: 0;
    overflow: hidden;
    /* position: relative; */
    position: absolute;
    right: 0;
    top: 0;
    /* width: 400px; */
    margin-top: 36px;
    margin-left: 180px;
    /* margin-left: -1em; */
    text-align: center;
    /* height: 327px; */
    display: none;
    width: 206px;
    height: 206px;
    /* z-index: 1; */
}

.card_circle {
    background-color: #eef2f7;
    background-size: cover;
    height: 440px;
    /* margin-left: -55px; */
    /* margin-top: -170px; */
    /* margin-top: -98px; */
    margin-top: -35px;
    margin-left: -47px;
    position: absolute;
    /* width: 560px; */
    /* width: 305px; */
    width: 295px;
    /* height: 251px; */
    height: 196px;
}

.card_circle>img {
    /* width: 81%;
    height: 96%; */
    width: 70%;
    /* height: 87%; */
    height: 123%;
}

.spacer-mush {
    padding: 20px;
    float: left;
}

.spacer-mush li {
    font-size: 24px;
}

.spacer-mush li:hover > .card{
    font-size: 24px;
    display: block;
    position: absolute;
}

.spacer-mush li:hover {
    font-size: 24px;
    position: relative;
}