.vegetable {
    background-color: #fff;
    margin-top: 70px;
}

.edable {
    color: green;
    font-weight: bold;
    text-transform: uppercase;
}

.poison {
    color: rgb(128, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}

.vegetable_shop h3 {
    font-size: 31px;
    line-height: 35px;
    color: #000;
    font-weight: 500;
    padding-bottom: 17px;
    display: block;
}


.vegetable_shop p {

    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    color: #000;
    font-family: 'Playfair Display', serif;
    word-break: break-word;
}


.vegetable_img span {
    z-index: 999;
    display: flex;
    align-content: center;
    align-items: center;
    right: 0;
    top: 44%;
    background: #428713;
    padding: 19px 27px;
    border-radius: 88px;
    margin-right: -20px;
    position: absolute;
    color: #fff;
    font-size: 19px;
}

.margin_top span {
    z-index: 999;
    display: flex;
    align-content: center;
    align-items: center;
    right: 0;
    top: 27%;
    background: #428713;
    padding: 19px 25px;
    border-radius: 88px;
    margin-right: -20px;
    position: absolute;
    color: #fff;
    font-size: 19px;
}

.vegetable_img figure {
    margin: 0;
    margin-bottom: 40px
}

.vegetable_img figure img {
    width: 100%;
    height: 600px
}

.margin_top {
    margin-top: -90px;
}



.titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.titlepage span {
    padding-top: 30px;
    display: inline-block;
    font-size: 17px;
    color: #000;
}

.llow {
    color: #488d1c;
    font-weight: bold;
}

.titlepage h2 {
    text-transform: uppercase;
    padding: 0;
    font-weight: bold;
    color: #000;
    line-height: 55px;
    font-size: 50px;
}

.btnsMush {
    /* margin-left: 450px;
    margin-top:-44px; */
    margin: 0 auto;
    margin-bottom: 42px;
    margin-left: -4px;

}

.sortBtnEditMush {
    font-size: 16px;
    border: #1a1b19 solid 1px;
    border-radius: 20px;
    background-color: #43960f;
    color: #fff;
    padding: 9px 0px;
    max-width: 100px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
}

.sortBtnEditMush:hover {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(5, 5, 5);
    padding: 9px 0px;
    max-width: 100px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
    background-color: #ff7e1d;
    border: #ff7e1d solid 1px;
    transition: all 0.3s ease-in;
}

.sortBtnDeleteMush {
    font-size: 16px;
    border: #1a1b19 solid 1px;
    border-radius: 20px;
    background-color: #b11010;
    color: #fff;
    padding: 9px 0px;
    max-width: 100px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
}

.sortBtnDeleteMush:hover {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(5, 5, 5);
    padding: 9px 0px;
    max-width: 100px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
    background-color: #ff7e1d;
    border: #ff7e1d solid 1px;
    transition: all 0.3s ease-in;
}

/* .authorMush{
    margin-bottom: 10px;
} */

.distribution {
    display: block;
    position: relative;
    z-index: 1;
    margin-bottom: 120px;
}