.loader_bg {
  position: fixed;
  z-index: 9999999;
  background: #fff;
  width: 100%;
  height: 100%;
}
.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img {
  width: 280px;
}

.scrollup {
  float: right;
  position: absolute;
  color: #fff;
  right: 20px;
  padding: 0px 5px;
  text-transform: uppercase;
  font-weight: 600;
  background: #38c8a8;
  position: fixed;
  bottom: 20px;
  z-index: 99;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 0px;
  opacity: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transition: .2s all ease;
  -moz-transition: .2s all ease;
  -o-transition: .2s all ease;
  -webkit-transition: .2s all ease;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 48px;
  font-size: 16px;
}

.scrollup.b-show_scrollBut {
  opacity: 1;
  visibility: visible;
}

.top_awro {
  background: #ee4a79 none repeat scroll 0 0;
  cursor: pointer;
  padding: 6px 8px;
  position: fixed;
  bottom: 59px;
  right: 20px;
  display: none;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  transition: all 0.5s ease;
}

.sale_pro {
  background: #f25252 !important;
}

.margin_top_50 {
  margin-top: 50px;
}

.margin_bottom_30_all {
  margin-bottom: 30px;
}

.text_align_center {
  text-align: center;
}