.wrapper-recipe {
    /* height: 680px; */
    min-height: 855px;
    width: 1100px;
    margin: 140px auto;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 0px 3px 10px rgb(67 150 15);
}

.product-img {
    float: left;
    height: 100%;
    width: 570px;
}

.product-img img {
    border-radius: 12px 0 0 7px;
    height: 855px;
    width: 570px;
    
}

.product-info {
    float: left;
    height: 680px;
    width: 530px;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.product-text {
    height: 300px;
    width: 327px;
}

.product-text h1 {
    margin: 0 0 0 17px;
    /* padding-top: 52px; */
    padding-top: 17px;
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;
}

.product-text h1,
.product-btn p {
    /* font-family: 'Bentham', serif; */
    font-family: 'Playfair Display', serif;
}

.product-text h2 {
    margin: 8px 0 47px 18px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #aaa9a9;
    letter-spacing: 0.2em;
    margin-bottom: 0;
}

.product-text h4 {
    margin: 8px 0 10px 18px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #4e4d4d;
    letter-spacing: 0.2em;
}

.author{

    text-decoration: underline;
    color: black
}

.product-text h5 {
    margin: -29px 0 0px 118px;
    font-size: 15px;
    color: #1f6e11;
    font-family: 'Bentham', serif;
    padding-bottom: 20px;
}

.product-text p {
    height: auto;
    margin: 10px 0 0 18px;
    width: 100%;
    font-family: 'Playfair Display', serif;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    /* line-height: 1.6em;
    margin-top: 6px;
    font-size: 21px;
    font-weight: lighter;
    overflow: hidden; */
}

.title{
    margin-bottom: 35px;
}

.product-btn {
    text-align: center;
    margin-top: 8.5em;
    position: relative;
}

span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
}

.product-btn a,
.product-btn p {
    height: auto;
    width: auto;
    align-items: center;
    padding: 10px;
    border-radius: 60px;
    justify-content: space-around;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: white;
    display: block;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.edit {
    background-color: rgba(86, 124, 194, 0.911);
}

.edit:hover {
    background-color: rgba(65, 92, 143, 0.911);
}

.rentHome {
    background-color: rgba(86, 124, 194, 0.911);
}

.rentHome:hover {
    background-color: rgba(65, 92, 143, 0.911);
}

.remove {
    background-color: rgb(199, 136, 109);
}

.remove:hover {
    background-color: rgb(177, 119, 95);
}

.no-housing {
    background-color: rgb(199, 136, 109);
}

.alRentHome {
    background-color: rgba(135, 167, 98, 0.911);
    text-align: center;
}

.btnsRecipe {
    /* margin-left: 450px;
    margin-top:-44px; */
    /* margin: 0 auto;
    margin-bottom: 42px;
    margin-left: 50px; */
    /* ================ */
    /* position: absolute;
    width: 380px;
    height: auto; */

    margin-left: 5px;
    /* display: inline; */
    margin-top: 22px;
}


.sortBtnEditRecipe {
    font-size: 16px;
    border: #1a1b19 solid 1px;
    border-radius: 20px;
    background-color: #43960f;
    color: #fff;
    padding: 9px 0px;
    /* max-width: 100px;
    width: 100%; */
    max-width: 70px;
    width: 70%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
}

.sortBtnEditRecipe:hover {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(5, 5, 5);
    padding: 9px 0px;
    /* max-width: 100px;
    width: 100%; */
    max-width: 70px;
    width: 70%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
    background-color: #ff7e1d;
    border: #ff7e1d solid 1px;
    transition: all 0.3s ease-in;
}

.sortBtnDeleteRecipe {
    font-size: 16px;
    border: #1a1b19 solid 1px;
    border-radius: 20px;
    background-color: #b11010;
    color: #fff;
    padding: 9px 0px;
    /* max-width: 100px;
    width: 100%; */
    max-width: 70px;
    width: 70%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
}

.sortBtnDeleteRecipe:hover {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(5, 5, 5);
    padding: 9px 0px;
    /* max-width: 100px;
    width: 100%; */
    max-width: 70px;
    width: 70%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
    background-color: #ff7e1d;
    border: #ff7e1d solid 1px;
    transition: all 0.3s ease-in;
}

.likes {
    display: inline-block;
}

.likes {
    position: absolute;
    margin-left: 108px;
    margin-top: -32px;
    width: 53px;
    height: 30px;
    border-radius: 10px;
    background: #43960f;
    color: white;
    font-weight: bold;
    border-color: #424141;
}

.likes:hover {
    cursor: pointer;
}

.likedText{
    font-family: 'Playfair Display', serif;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}