.contact {
    padding-bottom: 90px;
    background-size: cover;
    /* background: url(../images/banner2.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
}

.contact_bg .titlepage {
    padding-bottom: 20px;
    text-align: right !important;
    padding-right: 10px;
}

#map {
    height: 100%;
    min-height: 470px;
}

.white_color {
    background: #fff;
    box-shadow: 0px 0px 11px 0px;
}

.map figure {
    margin: 0px;
}

.map figure img {
    width: 100%;
}

.white_bg {
    background-color: #fff;
    padding: 40px 30px 30px 30px
}

.contact .titlepage {
    text-align: center;
}

.contact .titlepage h3 {
    padding: 0px 0px 6px 0px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 46px;
    border-bottom: #fff solid 1px;
    font-size: 40px;
    width: 367px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.contact .contact_bg {
    max-width: 541px;
    padding: 0;
    padding: 60px 0px;
}

.select{
    margin: 12px;
    background-color: #ff7e1d;
    color: rgb(14, 13, 13)
}

/* .label {
    display: inline-block;
    margin-bottom: 0.5rem;
    background-color: green;
    color: white;
    padding: 4px;
    border-top-right-radius: 20px;
} */


.contact .contact_bg .contactus {
    border: #e8e8e8 solid 1px;
    padding: 12px 19px;
    margin-bottom: 26px;
    border-radius: 1px;
    color: #000;
    width: 100%;
}

.contact .contact_bg .textarea {
    margin-bottom: 25px;
    padding: 29px 19px;
    color: #000 !important;
    width: 100%;
    border: #e8e8e8 solid 1px;
    border-radius: 1px;
    padding-top: 50px;
}

.contact .contact_bg .send {
    font-size: 16px;
    border: #428713 solid 1px;
    background-color: #428713;
    color: #fff;
    padding: 11px 67px;
    float: left;
    transition: all 0.3s ease-in;
}

.contact .contact_bg .send:hover {
    background-color: #ff7e1d;
    border: #ff7e1d solid 1px;
    color: #fff;
    transition: all 0.3s ease-in;
}

.mush {
    background-color: green;
}
