.sortBtn {
    font-size: 16px;
    border: #1a1b19 solid 1px;
    background-color: #43960f;
    color: #fff;
    padding: 9px 0px;
    max-width: 180px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 40px;
}

.sortBtn:hover{
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    padding: 9px 0px;
    max-width: 180px;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 40px;
    background-color: #ff7e1d;
    border: #ff7e1d solid 1px;
    transition: all 0.3s ease-in;
}

.wrapper {
    overflow: auto;
}

.right-element {
    float: right;
}

ul {
    margin-left: 20px;
}

ul li a {
    display: block;
}

ul li a:hover, ul li a:focus {
    color: #990606;
}

section h2 {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}