/* #all-listings {
    display: flex;
    flex-wrap: wrap;
}

#all-listings>.card {
    margin-left: 6em;
}

#all-listings>h1 {
    font-size: 53px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #3b3b3b;
} */


/* .card:hover {
    height: 460px;
    width: 500px;
} */

/* .card:hover .cta-container {
    display: inline;
    margin-top: 410px;
} */

/* .card:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -130px;
} */


/* .card:hover p {
    margin-top: 325px;
} */

/* .card>h4 {
    color: rgba(0, 0, 0, .6);
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-top: 340px;
    position: absolute;
    padding-left: 5px;
    text-align: center;
    z-index: 9999;
} */

/* .card:hover h4 {
    margin-top: 350px;
} */


/* .cta-container {
    display: none;
    margin-top: 334px;
    position: absolute;
    text-align: center;
    z-index: 9999;
    margin-left: 40%;
} */

/* .det-link {
    background-clip: padding-box;
    border: 2px solid #888383;
    border-radius: 8px;
    color: #070707;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 10px;
    margin-left: -1em;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}

.det-link:hover {
    background-color: #1d5e0b;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
} */

/* section {
    padding: 20px 10px;
    margin-left: 20px;
   
} */

/* section::after {
    clear: both;
} */

.wrapper {
    overflow: auto;
}

.right-element {
    float: right;
}

ul {
    margin-left: 20px;
}

ul li a {
    display: block;
}

ul li a:hover, ul li a:focus {
    color: #990606;
}

section h2 {
    margin-left: 20px;
    margin-top: 10px
}