.btns {
    /* margin-left: 450px;
    margin-top:-44px; */
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 30px;

}

.wrapper {
    overflow: auto;
}

.right-element {
    float: right;
}

ul {
    margin-left: 20px;
}

ul li a {
    display: block;
}

ul li a:hover, ul li a:focus {
    color: #488d1c;
}

section h2 {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.listOfMushroomsP{
   font-weight: bold;
   margin-left: 20px;
   font-size: 30px;
   margin-bottom: 30px;
   color: black;
}