.infoForm {
    text-align: center;
}

.infoForm> h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.infoForm>form {
    background-color: rgb(138, 137, 137);
    /* border: 1px solid black; */
    /* margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px;
    margin-top: 30px;
    padding-top: 30px; */
    margin: auto;
    width: 560px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 7px  rgb(49, 49, 49);
}
.infoForm>label{
    margin-right: 22px;
}

#userName{
    border: 1px solid black;
}

#age{
    border: 1px solid black;
} 

#email{
    border: 1px solid black;
} 

.send{
    margin-top: 20px;
    color: white;
    background-color: #4a4141;
    border-color: #212529;
    cursor: pointer;
}

.labelInfo{
    display: block;
    width: 80px;
    margin-left: 176px;
    margin-top: 10px;
    color: rgb(255, 255, 255);

}

.uploadFile{
    /* color:rgb(0, 0, 0); */
    font-weight: bold;
    margin-left: 123px;
    padding-top: 22px;
}


.photoView{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 7px white;
    width: 130px;
    height: 130px;
    margin: auto;
    margin-top: 20px;
    padding-top: 15px;
    text-align: center;
}

.photoView > p{
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.errorInfo{
    font-weight: bold;
    background: #f90303;
    margin: auto;
    width: 560px;
    margin-top: 40px;
    margin-bottom: 32px;
    height: 68px;
    text-align: center;
    border: 2px solid #950303;
    border-radius: 8px;
}

.errTxtInfo {
    color: rgb(252, 252, 252);
    padding-top: 14px;
}
#imageSizeError{
    color: red;
    font-size: 19px;
    margin-top: 22px;
    margin-bottom: -32px;
    margin-left: 22px;
    font-style: italic;
    font-weight: bold;
}