
.btnsRecipe{
    margin-left: 50px;
}
.spacer {
    padding: 20px;
    float: left;
}

.wrapper {
    overflow: auto;
}

.right-element {
    float: right;
}

ul {
    margin-left: 20px;
}


ul li a {
    display: block;
}

ul li a:hover, ul li a:focus {
    color: #990606;
}

section h2 {
    margin-left: 20px;
    margin-top: 10px
}

.images_box figure {
    margin-right: 20px;
 
}
.images_box figure img {
    width: 100%;
}