.footer {
    background: #3b3b3b;
  
    padding-top: 60px;
}

.logo_footer {
border: #ddd solid 2px;
padding: 11px 50px;
display: inline-block;
margin-bottom: 30px;
}
.footer .address h3 {
    color: #fff;
font-size: 30px;
line-height: 35px;
font-weight: bold;
padding-bottom: 20px;
}
.location_section {
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px 35px;
}

.news .newslatter {
    padding: 7px 23px;
box-shadow: inherit;
border: inherit;
width: 100%;
font-size: 19px;

margin-bottom: 20px;
}
.submit {
   padding: 9px 0;

background: #428713;
color: #fff;
margin-left: -5px;
font-weight: 500;
font-size: 18px;
max-width: 170px;
width: 100%;
border-radius: 30px;
text-transform: uppercase;
transition: all 0.3s ease-in;
}
.submit:hover {
    background: #ff7e1d;
    
    color: #fff;
    transition: all 0.3s ease-in;

}
ul.social_link {
   padding-bottom: 35px;
    padding-top: 7px;
    display: block;
}
ul.social_link li {
   display: inline-block;
    padding-right: 4px;

}

ul.social_link li a img {
   width: 30px;
    height: 30px;
}
ul.social_link li a img:hover {
    background-color: #f4b328 ;
    border-radius: 20px;
}
ul.Menu_footer li{

    display: block;
    color: #3e7f21;

}



ul.Menu_footer li a {
    display: block;
    color: #fcfbfb;
    font-size: 17px;
  
   
}
ul.Menu_footer li a:hover{
    color: #f4b328 ;
}


ul.loca li {
    color: #fcfbfb;
    display: flex;
    font-size: 16px;
    flex-wrap: wrap;
}
ul.loca li a {
    color: #fcfbfb;
    margin-top: 4px;
}
.copyright {
    padding: 20px 0px;
    margin-top: 55px;
    background-color: #428713;
}
.copyright p {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  
}
.copyright a {
    color: #fff;
}
.copyright a:hover {
    color: #ff7e1d ;
}