.notFound {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.notFoundTxt {
    font-weight: bold;
    color: black;
    text-align: center;
    
}

.returnLink {
    font-weight: bold;
    padding: 11px 15px;
    line-height: 20px;
    font-size: 18px;
    display: block;
    font-weight: 600;
    color: #000;
}

.returnLink:hover {
    color: #538d2e;
    text-decoration: none;
}

.errorImg {
  width: 300px;
  
}