.logo_section {
    text-align: center;
}

.usernameStyle {
    color: rgb(3, 3, 3);
    font-size: 20px;
    font-weight: bold;
    margin-top: 11px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 20px;
}
.divName{
    display: inline-block;
    margin-left: 60px;
}


.user {
    color: rgb(8, 167, 2);
    font-size: 20px;
    font-weight: bold;
    margin-top: 11px;
}

.logo {
    float: left;
    padding-bottom: 6px;
}

.logo p {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #43960f;
    line-height: 40px;
}

.logo img {
    vertical-align: bottom;
    border-style: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #43960f;
    line-height: 40px;
}

nav.main-menu {
    float: left;
    margin-left: 0;
    margin-left: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(138, 137, 137);
}

.right_cart_section {
    float: right;
    width: auto;
}

.right_cart_section ul {
    float: left;
    min-height: auto;
    margin: 0;
    padding: 12px 0 0;
}

.right_cart_section .cart_icons {
    padding: 18px 0 0;
}

.main-menu ul>li nth:child(5) a {
    padding-right: 0px;
}

.right_cart_section ul li {
    float: left;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    margin-right: 30px;
}

.right_cart_section ul.cart_update li {
    font-size: 13px;
    color: #ccc;
    line-height: normal;
    margin: 0;
    font-weight: 300;
}

.right_cart_section ul.cart_update li span {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 21px;
}

.right_cart_section ul li i {
    margin-right: 10px;
    margin-top: 5px;
    float: left;
    color: #fff;
    font-size: 21px;
}

.right_cart_section ul li a {
    color: #fff;
}

/*-- end header middle --*/

.top-bar-info {
    background: #111111;
    padding: 5px 0px;
}

.top-menu-left {
    float: left;
}

.top-menu-left li {
    position: relative;
    display: inline-block;
    margin-right: 11px;
    padding-right: 12px;
}

.top-menu-left li::before {
    content: '';
    position: absolute;
    right: 0;
    top: 9px;
    height: 10px;
    border-right: 1px dotted #999;
}

.top-menu-left li:last-child::before {
    display: none;
}

.top-menu-left li:last-child {
    padding: 0px;
    margin: 0px;
}

.top-menu-left li a {
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.top-menu-left li a:hover {
    color: #38c8a8;
}

.right-dropdown-language {
    float: right;
    margin-left: 12px;
}

.dropdown-bar .dropdown-link {
    position: absolute;
    z-index: 1009;
    top: 40px;
    left: 0;
    right: auto;
    min-width: 50px;
    padding: 15px;
    background: #ffffff;
    list-style: none;
    border: 2px solid #38c8a8;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
    -o-transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
    transition: opacity 0.2s ease 0s, visibility 0.2s linear 0s;
    text-align: left;
}

.dropdown-bar:hover .dropdown-link {
    opacity: 1;
    visibility: visible;
    top: 25px;
}

.dropdown-bar.right-dropdown-language>a::after {
    font-family: 'FontAwesome';
    content: "\f107";
    text-decoration: none;
    padding-left: 4px;
    color: #ffffff;
}

.right-dropdown-language>a {
    line-height: 10px;
    padding: 5px 5px;
    cursor: pointer;
}

.dropdown-bar .dropdown-link li a {
    color: #111111;
    display: block;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 0;
}

.dropdown-bar .dropdown-link li a:hover {
    color: #38c8a8;
}

.dropdown-bar .dropdown-link li a img {
    margin-right: 7px;
}

.dropdown-bar .dropdown-link li.active {
    font-weight: bold;
}

.right-dropdown-language .dropdown-link {
    min-width: 100px;
    padding: 7px 10px;
    color: #111111;
}

.dropdown-bar {
    position: relative;
    padding: 0 5px;
    font-size: 13px;
}

.dropdown-bar .dropdown-link.right-sd {
    left: auto;
    right: 0;
}

.right-dropdown-currency {
    float: right;
    margin-left: 12px;
}

.dropdown-bar.right-dropdown-currency>a::after {
    font-family: 'FontAwesome';
    content: "\f107";
    text-decoration: none;
    padding-left: 4px;
    color: #ffffff;
}

.right-dropdown-currency>a {
    line-height: 10px;
    padding: 5px 5px;
    cursor: pointer;
    color: #ffffff;
}

.right-dropdown-currency .dropdown-link {
    min-width: 100px;
    padding: 7px 10px;
    color: #111111;
}

.right-dropdown-currency .dropdown-link {
    min-width: 55px;
    padding: 7px 10px;
}

.right-dropdown-currency .dropdown-link li a span.symbol {
    margin-right: 7px;
}

#login-modal .modal-content {
    border-radius: 0px;
}

#login-modal .modal-content .modal-header {
    background: #38c8a8;
    border-radius: 0;
}

#login-modal .modal-content .modal-body .form-group input {
    background: #ffffff;
    border: 1px solid #c8c8c8;
    border-radius: 0px;
}

#login-modal .modal-content .modal-body .form-group input:focus {
    border: 1px solid #c8c8c8 !important;
}

#login-modal .modal-content form {
    margin-bottom: 10px;
}

.modal-title {
    padding: 0px;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
}

.btn-template-outlined {
    background: #111111;
    color: #ffffff;
    border: none;
    border-radius: 0px;
}

.btn-template-outlined i {
    padding-right: 10px;
}

.text-muted {
    padding: 10px 0px;
}

.slogan-line {
    float: right;
    color: #ffffff;
    font-size: 13px;
}

.middle-area {
    padding: 30px 0px;
}

.header-search {
    padding: 3px 0px;
}

.header-search form {
    position: relative;
    -webkit-box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.2);
}

.header-search .btn-group.bootstrap-select {
    position: absolute;
    left: 0px;
    top: 0px;
}

.header-search input {
    width: 100%;
    min-height: 45px;
    border-radius: 0px;
    border: none;
    padding-left: 15px;
    border: 1px solid #e0e7ed;
}

.header-search form .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    color: #fff;
    font-size: 20px;
    padding: 4px 15px;
    border-radius: 0px;
    background-color: #38c8a8;
    cursor: pointer;
}

.header-search form .search-btn:hover {
    background: #111111;
}

.cart-box {
    float: right;
    margin-left: 10px;
    position: relative;
}

.cart-content-box {
    position: absolute;
    z-index: 1009;
    top: 40px;
    left: auto;
    right: 0;
    min-width: 250px;
    max-width: 250px;
    padding: 15px;
    background: #ffffff;
    list-style: none;
    border: 2px solid #38c8a8;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.cart-box:hover .cart-content-box {
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.inner-cart {
    background: #38c8a8;
    border-radius: 2px;
    padding: 0px;
    color: #ffffff;
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
}

.cart-box .inner-cart:hover {
    color: #ffffff;
}

.line-cart {
    float: left;
    line-height: 40px;
    margin-right: 9px;
}

.cart-box a {
    display: inline-block;
}

.cart-box a:hover {
    color: #38c8a8;
}

.cart-box a span.icon {
    background: #38c8a8;
    width: 30px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    position: relative;
    border-radius: 2px;
}

.cart-box a .p-up {
    position: absolute;
    right: -8px;
    top: -8px;
    line-height: initial;
    background: #38c8a8;
    padding: 3px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 12px;
    text-align: center;
    line-height: 10px;
}

.wish-box {
    float: right;
}

.wish-box a {
    display: inline-block;
}

.wish-box a:hover {
    color: #38c8a8;
}

.wish-box a span.icon {
    background: #38c8a8;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    position: relative;
    border-radius: 2px;
}

.wish-box a span.icon:hover {
    background: #111111;
}

.cart-content-right {
    padding: 5px 0px;
}

.cart-content-box .items {
    text-align: center;
}

.product-media {
    width: 60px;
    float: left;
    position: relative;
}

.cart-content-box .items:hover .product-media::before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.product-media::before {
    position: absolute;
    content: '';
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #38c8a8;
    opacity: 0.4;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.cart-content-box .items .item .remove {
    position: absolute;
    right: 0px;
    top: 0px;
    background: #38c8a8;
    color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 2px;
}

.cart-content-box .items .item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e7ed;
    position: relative;
}

.cart-content-box .items .item .product-info {
    padding-top: 10px;
    padding-left: 71px;
    text-align: left;
}

.cart-content-box .items .item .remove:hover {
    background: #111111;
}

.subtotal {
    text-align: left;
    text-transform: capitalize;
    color: #38c8a8;
    font-weight: 500;
    margin-bottom: 15px;
}

.subtotal span {
    font-weight: bold;
    color: #111111;
    padding-left: 15px;
    float: right;
}

.actions .btn-process {
    padding: 5px 16px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-radius: 2px;
    overflow: hidden;
}

.actions .btn-process:hover {
    color: #ffffff;
}

.line-cart {
    position: relative;
}

.wish-box a span.icon span {
    position: absolute;
    right: -8px;
    top: -8px;
    line-height: initial;
    background: #38c8a8;
    padding: 3px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    font-size: 12px;
}

.menu-area-main li.active a {
    color: #538d2e;
    border-bottom: 1px solid black;
}

.main-menu {
    text-align: center;
}

.main-menu ul {
    margin: 0;
    list-style-type: none;
    /* white-space: nowrap; */
}

.main-menu ul>li {
    display: inline-block;
    position: relative;
}

.main-menu ul>li a {
    padding: 11px 15px;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    display: block;
    font-weight: 600;
    color: #000;
    
}

.main-menu ul>li a:hover {
    color: #538d2e;
    text-decoration: none;
}

.main-menu ul li:last-child a {
    padding-right: 0;
}

.sub-down li {
    background: #ffffff;
}

.main-menu ul>li .sub-down li a {
    color: #114c7d;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 12px 5px;
    position: relative;
    border-bottom: solid #eee 1px;
}

/* .main-menu ul>li .sub-down li a::before {} */

.main-menu ul>li .sub-down li a:hover {
    color: #111111;
}

/* .main-menu ul>li .sub-down li a:hover::before {} */

.main-menu ul li:first-child {
    margin-left: 0;
}

.main-menu ul>li>ul {
    opacity: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 240px;
    z-index: 999;
    background: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.main-menu>ul>li:hover>ul {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
}

.main-menu ul>li>ul>li {
    margin: 0px;
    position: relative;
    display: block;
}

.main-menu ul>li>ul>li:hover>ul {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;
    left: 100%;
    top: 10px;
}

.main-menu ul>li>ul>li>a {
    background: none !important;
}

.mean-container .mean-nav {
    margin-top: 0px;
    position: absolute;
    top: 100%;
}

.main-menu ul>li {
    position: inherit;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.main-menu ul>li:nth-child {
    padding-right: 0px;
}

.nav>li {
    position: inherit;
    display: inline-block;
    vertical-align: middle;
}

.megamenu .sub-down {
    max-width: 1140px;
    width: 100%;
    left: 0;
    margin: 0 auto;
    right: 0;
    padding: 15px 0px;
}

.navBootstrap{
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#logoTitle{
    margin-left: 15px;
    margin-bottom: 22px;
    font-size: 25px;
    font-weight: bold;
    color: #050505;
    /* -webkit-text-stroke: 1px rgb(34, 32, 32); */
    font-family:  'Droid Sans', 'Helvetica Neue';
    
}

#logoTitle:hover{
    /* text-decoration: underline; */
    margin-left: 15px;
    margin-bottom: 22px;
    font-size: 25px;
    font-weight: bold;
    color: #488d1c;
    /* -webkit-text-stroke: 1px rgb(71, 128, 57); */
    font-family:  'Droid Sans', 'Helvetica Neue';
    
}

.titleDiv{
    white-space: nowrap;
    margin-top: -10px;
}

.titleDiv>img{
    margin-bottom: 6px
}