.sortBtnEditRecipe {
    font-size: 16px;
    border: #1a1b19 solid 1px;
    border-radius: 20px;
    background-color: #43960f;
    color: #fff;
    padding: 9px 0px;
    /* max-width: 100px;
    width: 100%; */
    max-width: 70px;
    width: 70%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
}

.sortBtnEditRecipe:hover {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(5, 5, 5);
    padding: 9px 0px;
    /* max-width: 100px;
    width: 100%; */
    max-width: 70px;
    width: 70%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
    background-color: #ff7e1d;
    border: #ff7e1d solid 1px;
    transition: all 0.3s ease-in;
}

.sortBtnDeleteRecipe {
    font-size: 16px;
    border: #1a1b19 solid 1px;
    border-radius: 20px;
    background-color: #b11010;
    color: #fff;
    padding: 9px 0px;
    /* max-width: 100px;
    width: 100%; */
    max-width: 70px;
    width: 70%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
}

.sortBtnDeleteRecipe:hover {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(5, 5, 5);
    padding: 9px 0px;
    /* max-width: 100px;
    width: 100%; */
    max-width: 70px;
    width: 70%;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    margin-left: 6px;
    background-color: #ff7e1d;
    border: #ff7e1d solid 1px;
    transition: all 0.3s ease-in;
}

.likes {
    display: inline-block;
}

.likes {
    position: absolute;
    margin-left: 108px;
    margin-top: -32px;
    width: 53px;
    height: 30px;
    border-radius: 10px;
    background: #43960f;
    color: white;
    font-weight: bold;
    border-color: #424141;
}

.likes:hover {
    cursor: pointer;
}

.likedText{
    font-family: 'Playfair Display', serif;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}