.errorRegister{
    font-weight: bold;
    background: #f90303;
    margin-top: -26px;
    margin-bottom: 32px;
    height: 68px;
    text-align: center;
    border: 2px solid #950303;
    border-radius: 8px;
}

.errTxtRegister {
    color: rgb(252, 252, 252);
    padding-top: 14px;
}